.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

@import "styles";

$fontPrimary:'Germania One';

th {
    font-family:'Germania One';
    font-size: 16px;
  
}
button {
    font-family:'Germania One';
    font-size: 12px;
  
}
input, textarea, td {

    font-family:'Oswald';
    font-size: 13px;
    

}